
    body {
      width: 100%;
      height: 100%;
      margin: 0;
      overflow: hidden;
      background: #fff;
    }

    .container {
      display: flex;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      position: absolute;
    }

    #trade_chart{
      right: auto;
      width: auto;
      height: 50%; 
      display: block;
      z-index: 2;
      background: #F8F8F8;
      position: relative;
      /* overflow:auto; */
    }

    #info-container trade_chart {
      width: 70%;
      height: 93%; 
      left:940px; 
      top:90px;
      position: absolute;
      z-index: 99;
    }


    #map-container {
      /* width: 1000px; */
      flex: 3;
      position: relative;
    }

    #info-container {
      flex: 1;
      font-size: 13px;
      background-color: #f1f1f1;
      padding: 20px;
      overflow:auto; 
      /* overflow is used to scroll when the info exceed the block size */

      /* top: 30px;
      right: 40px;
      position: absolute;
      float: right; 
      width: 25%;
      height: 95%;
      color: #000;
      background-color: #fff;
      overflow:auto;
      z-index: 2; */
    }


    #Options {
      left:940px; 
      top:30px;
      position: relative;
      z-index: 1;
    }